.menu-section {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #333;
}

.cinemaseat {
    height:45px;
    padding:5px;
    cursor:pointer;
}

.parna{
    background-color: rgb(161, 161, 161);
}

.neparna{
    background-color: rgb(79, 79, 79);
}

li{
    /*border-bottom-style: solid;*/
    list-style-type: none;
}